* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Satisfy', cursive;
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

section .box {
    position: absolute;
    width: 450px;
    height: 450px;
}

section .box .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #FFF, #E4E3E8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}